/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.ct_fs_34 {
    font-size: 34px;
}

.ct_how_work_card:hover {
    background-color: unset;
    box-shadow: unset
}

.ct_how_work_card:hover h4,
.ct_how_work_card:hover p {
    color: #000;

}

.ct_py_70 {
    padding-block: 70px;
}
.PhoneInput {
    height: 48px;
}
.ct_how_work_card:hover img {
    -webkit-filter: unset;
    filter: unset
}

.ct_close_position_right12 {
    position: absolute;
    top: 15px;
    right: 15px;
}

#ct_claim_your_spot .modal-content {
    border: 0px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

.ct_h_35 {
    height: 35px;
}

#ct_claim_your_spot .modal-content {
    border: 0px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    max-width: 900px !important;
    margin-inline: auto;
}

.ct_fs_50 {
    font-size: 50px;
}

.ct_about_page_right_img {
    position: relative;
    max-width: 470px;
    margin-left: auto;
}

.ct_about_top_1 {
    position: relative;
    text-align: end;
    max-width: 297px;
    margin-left: auto;
}

.ct_about_top_1>img {
    height: 361px;
    width: 231px;

    border-radius: 100px
}

.ct_about_top_1 img+img {
    position: absolute;
    left: 0px;
    width: 111px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 146px;
}

.ct_about_img_2 {
    position: relative;
    width: 235px;
    border-radius: 100px;
    margin-top: -106px;
    height: 374px;
}

.ct_light_sky_bg {
    background-color: #8ECAE680;
}

.ct_our_storey_img_1 {
    width: 100%;
    height: 812px;
    -o-object-fit: contain;
    object-fit: contain;
}

.ct_px_113 {
    padding-inline: 113px;
}

.ct_testi_card {
    background-color: hsl(0deg 0% 97% / 80%);
    padding: 40px;
    border: 1px solid #0230471A;
}

.ct_img_w_60 {
    width: 60px !important;
    height: 60px;
    border-radius: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0px;
    flex-shrink: 0px;
}

.ct_owl_nav_none .owl-nav {
    display: none !important;
}

.ct_dark_blue_overlay_img {
    position: relative;
}

.ct_dark_blue_overlay_img:before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: var(--dark_blue);
}

.ct_dark_blue_overlay_img:hover img {
    scale: unset;
}

.ct_fs_85 {
    font-size: 75px;
    /* font-size: clamp(1.8rem, 1rem + 4vw, 4.6875rem); */
}

.ct_line_h_111 {
    line-height: 90px
}

.ct_fs_50 {
    font-size: 50px;
}

.ct_fs_100 {
    font-size: 100px;
}

.ct_blue_shape_bg {
    -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
    margin-top: -158px;
    padding-bottom: 200px;
    padding-top: 220px;
}

.ct_fs_35 {
    font-size: 35px;
}

.ct_outline_blue_5 {
    border: 5px solid #8ECAE6;
    padding: 2px 15px;
    border-radius: 10px;
}

.ct_object_fit {
    -o-object-fit: contain;
    object-fit: contain;
}

.ct_fw_900 {
    font-weight: 900;
}

.ct_line_height_81 {
    line-height: 48px !important;
    display: inline-block;
    border-radius: 20px;
    padding-inline: 14px;
    font-size: 50px;
}

.ct_what_gain_img img {
    height: 547px;
}

.ct_how_work_card img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.ct_coach_created_w_90 {
    max-width: 97%;
    margin-inline: auto;
}

.ct_webinar_img img {
    height: calc(100vh - 363px);
}

.ct_fs_24 {
    font-size: 24px !important;
}

.ct_back_top_btn {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex
;
    align-items: center;
}

.ct_back_top_btn a {
    display: flex
;
    align-items: center;
    gap: 6px;
}
.ct_otp_input input {
    width: 48px !important;
    border-radius: 10px;
    height: 48px;
    border: 1px solid #e6e6e6;
    margin-inline: 5px;
    outline: none;
}
.ct_otp_input input:focus{
    border-color: var(--yellow);
}
.ct_otp_input span{
    display: none;
}
.ct_img_30 {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    object-fit: cover;
}
.ct_right_dropdown button {
    border: 0px;
    padding: 11px 16px;
    background-color: transparent;
    display: flex
;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.ct_img_h_458{
    height: 458px;
    border-radius: 20px;
    object-fit: cover;

}
.ct_mt_40{
    margin-top: 40px;
}
.ct_become_coach_bg{
    background-color: var(--dark_blue);
    padding-block: 48px;
}

.ct_img_unlock_img_23 {
    display: grid
;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}
.ct_img_unlock_img_23_left, .ct_img_unlock_img_23_right {
    overflow: hidden;
    border-radius: 20px;
    transition: 0.4s 
ease all;
}
.ct_img_unlock_img_23 img {
    border-radius: 20px;
    margin-bottom: 26px;
    transition: 0.4s 
ease all;
}
.ct_img_unlock_img_23_left img:last-child, .ct_img_unlock_img_23_right img:first-child {
    width: 100%;
    height: 273px;
    object-fit: cover;
    /* max-width: 224px; */
}
.ct_img_unlock_img_23_left img:first-child, .ct_img_unlock_img_23_right img:last-child {
    width: 100%;
    height: 275px;
    object-fit: cover;
    /* max-width: 224px; */
}
.ct_img_unlock_img_23_right {
    margin-top: 42px;
}

.ct_pt_65_pb_58{
    padding-top: 65px;
    padding-bottom: 58px;
}
.ct_we_looking_bg {
    background-color: hsl(43deg 100% 51% / 20%);
    padding: 51px 139px;
}
.ct_mb_30{
    margin-bottom: 30px;
}
.ct_img_h_400{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.ct_py_130{
    padding-block: 130px;
}

.ct_mb_60{
    margin-bottom: 60px;
}
.ct_line_h_40{
    line-height: 40px;
}
.ct_mt_70{
    margin-top: 70px;
}
.ct_fs_24_new{
    font-size: 24px;
}

.ct_mb_50{
    margin-bottom: 50px;
}

.ct_w_50_345{
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
}
.ct_fs_36{
    font-size: 36px;
}

.ct_mb_60{
    margin-bottom: 60px;
}
/* @media screen and (min-device-width: 1800px) and (max-device-width: 3500px) {  */
@media screen and (min-device-width: 2000px) {

    /* .ct_fs_85{
    font-size: 70px;
} */
    .ct_fs_24 {
        font-size: 38px !important;
    }

    .ct_fs_50 {
        font-size: 72px;
    }

    .ct_fs_32 {
        font-size: 54px;
    }

    .ct_fs_100 {
        font-size: 130px;
    }

    .ct_blue_shape_bg {
        margin-top: -176px;
    }

    .ct_fs_35 {
        font-size: 64px;
    }

    .ct_fs_44 {
        font-size: 40px;
    }

    /* .ct_how_work_img img {

        height: calc(100vh - 300px);

    } */

    .ct_fs_28 {
        font-size: 37px;
    }

    .ct_fs_85 {
        font-size: 181px;
    }

    .ct_line_h_111 {
        line-height: 174px;
    }

    .ct_fs_43_res_1800 {
        font-size: 43px !important;
    }

    .ct_game_on_image img {
        height: calc(100vh - 842px);
        border-radius: 20px !important;
        object-fit: cover;
    }

    .ct_what_gain_img img {
        height: calc(100vh - 780px);
    }


    .ct_max_w_100_3500 {
        max-width: 100% !important;
    }

    .ct_max_w_374_3500 {
        max-width: 474px !important;
    }

    .ct_logo img {

        max-width: 186px;

    }
}

@media screen and (min-device-width: 1700px) and (max-device-width: 1800px) {
    .ct_webinar_img img {
        height: calc(100vh - 246px);
    }

    .ct_game_on_image {
        border-radius: 15px;
    }

    .ct_game_on_image img {

        height: calc(100vh - 556px);

    }

    .ct_max_w_258_1728 {
        max-width: 266px !important;
    }

    .ct_line_height_81 {
        font-size: 53px !important;
        line-height: 44px !important;
    }
}



/* @media screen and (min-width:1450px){

.ct_webinar_img img {
        height: 871px;
    }
} */


.ct_mt_60{
    margin-top: 60px;
}
.ct_input_h_60{
    height: 60px;
}

.ct_need_help_card{
    background-color: #EEEEEE;
    padding: 30px 30px 60px;
    border-radius: 20px;
}
.ct_ps_40_pe_100{
    padding-left: 40px;
    padding-right: 100px;
}
.ct_need_help_card ul{
    list-style: disc;
    padding-left: 30px;
}
.ct_need_help_card ul li{
    max-width: 341px;
}
.ct_need_help_card ul li + li{
    margin-top: 40px;
}
.ct_img_60{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}

.ct_testimonial_review_card {
    padding: 40px;
    background-color: #F7F7F7;
    border: 1px solid hsl(200deg 95% 14% / 10%);
}
.ct_document_uploaded_img img ,.ct_document_uploaded_img iframe{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.ct_disapprove_badge {
    background-color: hsl(0deg 100% 50% / 9%);
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 4px 40px;
    border-radius: 10px;
    width: 154px;
    display: block;
}

.ct_webinar_grid_2 li{
    display: grid;
    grid-template-columns: 200px auto;
    gap: 10px;
}
.ct_webinar_grid_2 li + li{
    margin-top: 15px;
}
html,
body {
  overflow-x: hidden;
}
.ct_pt_30_pb_76{
    padding-top: 30px;
    padding-bottom: 70px;
}
.ct_ps_60{
    padding-left: 60px;
}
.ct_img_w_70{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    object-fit: cover;
}
.ct_coach_light_grey_badge{
    background-color: #EEEEEE;
    padding: 5px 16px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    
}
.ct_mt_30{
    margin-top: 30px;
}
.ct_btn_border_w_2{
    border-width: 2px;
}
.ct_h_44 {
    height: 44px;
}
@media screen and (max-width:1400px) {
    .ct_fs_24 {
        font-size: 20px !important;
    }

    .ct_line_height_81 {
        border-radius: 20px;
        display: inline-block;
        font-size: 48px;
        line-height: 44px !important;
        padding-inline: 14px;
    }

    .ct_fs_50 {
        font-size: 40px;
    }
}

@media screen and (min-device-width: 1325px) and (max-device-width: 1366px) {
    .ct_fs_85 {
        font-size: 40px;
    }

    .ct_icon_30 {
        width: 30px;
    }

    .ct_ms_minus_55 {
        margin-left: -55px;
    }

    .ct_line_h_111 {
        line-height: 48px;
    }

    .ct_line_height_81 {
        border-radius: 20px;
        display: inline-block;
        font-size: 36px;
        line-height: 36px !important;
        padding-inline: 14px;
    }

    .ct_fs_24 {
        font-size: 18px !important;
    }

    .ct_webinar_img img {
        height: calc(100vh - 187px);
    }

    .ct_max_w_523 {
        max-width: 656px !important;
    }

    .ct_max_w_791 {
        max-width: 791px !important;
    }

    .ct_mb_3_1323 {
        margin-bottom: 14px !important;
    }

    .ct_mt_3_1326 {
        margin-top: 35px !important;
    }

    .ct_mb_0_1326 {
        margin-bottom: 10px !important;
    }

    .ct_logo img {
        max-width: 52px;

    }

    .ct_max_w_612 {
        max-width: 687px !important;
    }

    .ct_speaker_img img {


        height: 240px;
        max-width: 158px;

    }

    .ct_fs_28 {
        font-size: 22px;
    }

    .ct_game_on_image img {
        border-radius: 20px;
        height: calc(100vh - 232px);
    }

    .ct_game_on_image {
        border-radius: 15px !important;
    }

    .ct_max_w_249_1366 {
        max-width: 220px;
    }

    .ct_what_gain_img img {
        height: calc(100vh - 240px);
        object-position: top;
    }

    .ct_max_w_622 {
        max-width: 622px !important;
    }

    .ct_blue_shape_bg {
        padding-bottom: 108px !important;
    }
/* 
    .ct_how_work_img img {
        height: 350px;

    } */
}

/* @media screen and (max-width:1200px){
    .ct_webinar_img img {
    height: calc(100vh - 240px);
}
.ct_fs_85 {
      font-size: 48px !important;
        line-height: 54px !important;
    }
} */
 .ct_px_100{
    padding-inline: 100px;
 }
.ct_coach_white_bg {
    background-color: #fff;
    padding: 40px 20px 18px;
    border-radius: 20px;
    border: 1px solid hsl(200deg 95% 14% / 30%);
}
 .ct_featured_card_img img{
    height: 356px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;

 }

 .ct_featured_coach_card figcaption{
    margin-top: 30px;
 }
@media screen and (max-width:991px) {
    .ct_px_100_new ,.ct_px_100 {
        padding-inline: 20px !important;
    }

    .ct_about_page_right_img {
        margin-inline: auto !important;
    }

    .ct_blue_shape_bg {
        -webkit-clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
        margin-top: -99px;
        padding-top: 165px;
    }
}

@media screen and (max-width:767px) {
    .ct_px_113 ,.ct_we_looking_bg {
        padding-inline: 50px;
    }
    .ct_w_100_767{
        width: 100%;
    }

    .ct_blue_shape_bg {
        -webkit-clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
        margin-top: -121px;
        padding-top: 165px;
    }

    .ct_yellow_shape_bg {
        -webkit-clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0% 95%);
        clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0% 95%);
    }
}

@media screen and (max-width:575px) {
    .ct_about_page_right_img {
        width: 350px;
        max-width: 100%;
    }

    .ct_about_top_1>img {
        height: 290px;
        width: 180px;
        border-radius: 100px;
    }

    .ct_about_top_1 img+img {
        width: 89px;
        height: 110px;
    }

    .ct_about_top_1 {
        max-width: 248px;
    }

    .ct_px_113 ,.ct_we_looking_bg {
        padding-inline: 30px;
    }

    .ct_about_img_2 {
        position: relative;
        width: 140px;
        margin-top: -106px;
        height: 222px;
    }
}